<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giphy</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
  <header>
    <nav class="nav one">
      <a href="#" class="nav-link" data-page="trends">Trends</a>
      <a href="#" class="nav-link" data-page="upload">Upload</a>
      <a href="#" class="nav-link" data-page="about">About</a>
      <input id="search-input" type="text" placeholder="Search Giphs...">
      <button id="search-btn"> Search</button>
    </nav>

    <nav class="nav two">
      <a href="#" class="nav-link" data-page="profile">Profile</a>
      <div class="user-box">
        <img src="https://fiverr-res.cloudinary.com/images/t_main1,q_auto,f_auto,q_auto,f_auto/gigs/118947646/original/9fb85fe56953295c5592270439d44b477c742ca5/create-a-pixel-art-charakter-for-you.png" alt="profile-picture">
      </div>
    </nav>
  </header>


    <div id="container">
      <!-- start placeholders -->
      
      <!-- end placeholders -->
    </div>


    <footer>
      <div class="footer">
        <h2>Web Project 1 - Team 2</h2>
      </div>
    </footer>

  <!-- app -->
  <script src="./src/index.js" type="module"></script>
  <!-- end app -->
</body>
</html>