<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mov(e)ster</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <div id="app">
    <header></header>
    <nav>
      <a href="#" class="nav-link" data-page="home">Home</a> | 
      <a href="#" class="nav-link" data-page="categories">Categories</a> |
      <a href="#" class="nav-link" data-page="favorites">Favorites</a>
      <input id="search" type="text" placeholder="Search">
      <a href="#" class="nav-link" data-page="about">About</a>
    </nav>
    <div id="container">
      <!-- start placeholders -->
      
      <!-- end placeholders -->
    </div>
    <footer>Footer</footer>
  </div>

  <!-- app -->
  <script src="./src/index.js" type="module"></script>
  <!-- end app -->
</body>
</html>