<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>House of the GIFS</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./styles/main.css">
  
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
</head>
<body>
  <header>
    <nav class="nav one">
      <a href="#" class="nav-link" data-page="trends">Trends</a>
      <a href="#" class="nav-link" data-page="upload">Upload</a>
      <a href="#" class="nav-link" data-page="about">About</a>
      <input id="search-input" type="text" placeholder="Search Giphs...">
      <button id="search-btn">Search</button>
    </nav>

    <nav class="nav two">
      <a href="#" class="nav-link" data-page="profile">House</a>
      <div class="user-box">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6d820859-09b9-4296-9ea3-046537db2c6a/dgaol9h-7f023de4-c94f-4599-8545-595c0a158eef.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzZkODIwODU5LTA5YjktNDI5Ni05ZWEzLTA0NjUzN2RiMmM2YVwvZGdhb2w5aC03ZjAyM2RlNC1jOTRmLTQ1OTktODU0NS01OTVjMGExNThlZWYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.gFt_cJkma8RaZe1yzrbv9J1xv5Ej-GcadF5NEmrgYtU" alt="profile-picture">
      </div>
    </nav>
  </header>


    <div id="container">
      <!-- start placeholders -->
      
      <!-- end placeholders -->
    </div>


    <footer>
      <div class="footer">
        <h2>&copy; 2024 House of the GIFS - Team 2. All rights reserved.</h2>
      </div>
    </footer>

  <!-- app -->
  <script src="./src/index.js" type="module"></script>
  <!-- end app -->
</body>
</html>