/* Template styling */

html, body {
  margin: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: #202020;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  margin-bottom: 35px;
}

nav {
  margin: 0 30px;
  font-size: 1.75em;
  color: white;
  display: flex;
  align-items: center;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

.nav.one {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 800px;
}

#search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  margin-left: 10px;
  height: 27px;
  padding: 10px 10px 10px 10px;
  border: none;
  background-color: rgb(95, 191, 255);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.user-box {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-color: white;
  margin-left: 20px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #202020;
  margin: 0 auto;
  min-height: 70vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  background-color: black;
  height: 150px;
  color: white;
}

.footer > h2 {
  font-size: 50px;
  color: rgb(95, 191, 255);
}

a.active {
  color: white;
  font-weight: bold;
}

#search-input {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin-left: 10px;
  height: 22px;
  flex-grow: 1;
}

/* Trending Styling */

#trending {
  display: inline-block;
  columns: 4;
  column-gap: 10px;
}

#trending img {
  width: 100%;
}

#trending div {
  margin-bottom: 10px;
  cursor: pointer;
}


/* Search Styling */

#search-content{
  display: block;
  columns: 4;
  column-gap: 10px;
}

.search-heading {
  color: white;
  size: 2rem;
}

#search-content p {
  color: white;
  font-size: 100px;
  white-space: nowrap;      
}

#search-content img {
  width: 100%;
}

#search-content div {
  margin-bottom: 10px;
}

/* Detailed Styling */

#detailed {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.detailed-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}

.detailed-info > h1,h3,p{
  margin: 0 20px 0 0;
  font-size: 2rem;
}

.user-avatar {
  margin: 20px 20px;
}

#detailed .detailed-gif img{
  max-width: 100%;
  max-height: 100%;
  width: 450px;
  height: auto;
}

.user-avatar img {
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: auto;
}

