/* Template styling */

html, body {
  margin: 0;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  background-color: rgb(150, 150, 150);
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  margin-bottom: 35px;
}

nav {
  margin: 0 30px;
  font-size: 1.75em;
  color: white;
  display: flex;
  align-items: center;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

.nav.one {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 800px;

}

.user-box {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  background-color: white;
  margin-left: 20px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.76);
  margin: 0 auto;
  min-height: 90vh;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  background-color: black;
  height: 150px;
  color: white;
}

.footer > h2 {
  font-size: 50px;
  color: rgb(95, 191, 255);
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 18px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin-left: 15px;
  height: 22px;
  flex-grow: 1;
}
